<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/static/css/todolist.css">
</head>

<body>
	<div id="container">
		<div>
			<div class="title-box">
				<h1>todolist</h1>
			</div>
			<div class="content-box">
				<div class="content-add">
					<span>내용</span>
					<input type="text" placeholder="할 일 추가하기">
					<button class="insert-btn">추가</button>
				</div>
				<div class="content-list">
					<ol>
						
					</ol>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/todolist-insert.js"></script>
	<script src="/static/js/todolist-modifi.js"></script>
</body>

</html>