* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: rgb(239, 237, 255);
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px auto;
    width: 800px;

}


.title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 120px;
    border-radius: 1px;
    width: 500px;
    height: 70px;


    background-color: rgb(200, 142, 255);
}


h1 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: aliceblue;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;

    width: 500px;
    height: 100%;

    background-color: white;
}



.content-add {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    width: 400px;
}

.fa-circle-arrow-right {
    font-size: 30px;
    color: rgb(171, 104, 234);
}

.fa-circle-plus {
    font-size: 30px;
    cursor: pointer;
    color: rgb(171, 104, 234);
}

.content-add input {
    width: 250px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #e08ef9;
    border-radius: 2px;
}

.list-items {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-items-modifi {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}


input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #e08ef9;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #ce64ef;
    border: none;
}

spen {
    font-size: 20px;
}

.fa-square-pen {
    margin-left: 40px;
    font-size: 22px;
    cursor: pointer;
    color: rgb(202, 156, 245);
}

.fa-trash-can {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(146, 146, 146);
}

.input-item {
    height: 40px;
    font-size: 20px;
    border: 2px solid #e08ef9;
}

.fa-circle-check {
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(202, 156, 245);
}

.fa-circle-xmark {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(146, 146, 146);
}

button {
    cursor: pointer;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}